Repository LouisSeranne/DICJ_Stimulus_A23, pull requests merged in 2023-11, with the labels that each got.

#159 changement UI fichier
  StimulusFrontEnd/Components/TheorieComponents/Exercice.razor
  StimulusFrontEnd/wwwroot/css/site.css
Labels: 2, enhancement, ajout

#161 Api logging p1
  StimulusAPI/Controllers/CodesController.cs
  StimulusAPI/Controllers/CoursController.cs
  StimulusAPI/Controllers/EtudiantsController.cs
  StimulusAPI/Controllers/ExercicesController.cs
  StimulusAPI/Controllers/FichierSauvegardesController.cs
  StimulusAPI/Controllers/FichierSourcesController.cs
  StimulusAPI/Controllers/GrapheViewController.cs
  StimulusAPI/Controllers/GraphesController.cs
  StimulusAPI/Controllers/GroupesController.cs
  StimulusAPI/Controllers/HoverController.cs
  StimulusAPI/Controllers/ImagesController.cs
  StimulusAPI/Controllers/LienUtilesController.cs
  StimulusAPI/Controllers/LoginController.cs
  StimulusAPI/Controllers/NoeudsController.cs
  StimulusAPI/Controllers/PageComposantsController.cs
  StimulusAPI/Controllers/PageTheorieController.cs
  StimulusAPI/Controllers/PagesController.cs
  StimulusAPI/Controllers/ProfesseursController.cs
  StimulusAPI/Controllers/ProgressionsController.cs
  StimulusAPI/Controllers/ReferencesController.cs
  StimulusAPI/Controllers/StatusGraphesController.cs
  StimulusAPI/Controllers/TexteFormatersController.cs
  StimulusAPI/Controllers/VideosController.cs
  StimulusAPI/Program.cs
  StimulusAPI/appsettings.json
  StimulusFrontEnd/Components/TheorieComponents/Exercice.razor
  StimulusFrontEnd/Services/Base/ServiceClientV2.cs
  StimulusFrontEnd/Shared/EtudiantLayout.razor
  StimulusFrontEnd/Shared/ProfesseurLayout.razor
Labels: documentation, 2, enhancement, api, ajout

#167 Api logging p1
  StimulusAPI/Controllers/LoginController.cs
  StimulusFrontEnd/appsettings.json
Labels: documentation, 2, fix, api
